body {
  background-image: url(csspic1.jpeg);
}
img {
  height: 250px;
}
article {
  background-image: url(bla3.gif);
  margin-right: 1100px;
  padding: 50px;
  border: 5px outset red;
}
h4 {
  color: black;
}
h3 {
  color: rgb(41, 129, 0);
  text-shadow: 1px 1px 1px black;
}
img {
  border: 5px outset green;
}
a {
  color: black;
}
