body {
  background-image: url(bla4.gif);
  background-color: rgb(5, 217, 224);
}
img {
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
article {
  width: 100%;
}
table {
  border: 3px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
td {
  border: 2px solid black;
}
h4 {
  color: black;
  text-shadow: 1px 1px 1px rgb(0, 128, 0);
}
h3 {
  color: rgb(41, 129, 0);
  text-shadow: 1px 1px 1px black;
}
img {
  border: 5px outset green;
}
a {
  color: rgb(0, 0, 0);
}
